<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
<div class="container" id="app">
    <div class="card">
        <h1 :style="{
            color: headingStyle,
            fontSize: forFont,
            }">{{ title }}</h1>
        <div class="form-control">
            <input
                    type="text"
                    :placeholder="placeholderString"
                    v-model="inputValue"
                    @keypress.enter="addNewNote">
        </div>
        <button class="btn" v-on:click="addNewNote">Add</button>
        <hr>
        <ul class="list" v-if="notes.length > 0">
            <li class="list-item" v-for="(note, idx) in notes" :key="idx">
                <span class="bold" :style="{color: note.length > 10 ? '#42b983' : 'red'}">{{ idx + 1 }}. {{ Upper(note) }}</span>
                <button class="btn danger" @click="deleteNode(idx)">Delete</button>
            </li>
            <hr>
            <li><strong>Total count of notes: {{ notes.length }} | Multiple by two: {{ totalByTwo }}</strong></li>
        </ul>
        <div v-else>
            There's no notes. However, you could add new one!
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>
